@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/Montserrat-Regular.ttf'); 
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat-Regular, sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

